.products_row{
    display:flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;


}
 

.rating{
  padding: 0px auto;
}
@media (max-width: 768px) {
  .products_row{
    display: block;
    margin-right: 10px;
  }{

  }
  .filter_buttons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}
